<footer class="site-footer bg-light mt-auto">
  <div class="container" style="padding: 0px 0;">
    <!-- <nav class="mt-2 mb-3"> 
      <ul class="nav nav-pills nav-fill">
        {% for section in site.html_pages %}{% if section.nav %}
        <li class="nav-item"><a class="nav-link h3{% if page.url == section.url %} active{% endif %}" href="{{ section.url | relative_url }}">{% if section.nav == true %}{{ section.title }}{% else %}{{ section.nav }}{% endif %}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </nav> -->
    <!-- <div class="row align-items-center pb-2"> 
        <div id="footer-title" class="col-md">
         
          <br>
         </div>
        <div class="col-md">
          
          <script>
            function site_search() {
              var query = document.getElementById("site-search").value;
              window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
            }
          </script>
          <form class="form-inline my-2 my-lg-0 float-end" role="search" id="search" onsubmit="site_search(); return false;">
            <div class="input-group">
              <input id="site-search" class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search box"> 
              <button class="btn btn-secondary btn-sm" type="submit">{% include icon.html icon="search" %}<span class="visually-hidden">submit search</span></button> </div>
          </form>
          
        </div>
    </div> -->
    <div class="row align-items-center pb-2"> <!-- Reduced padding-bottom -->
      <div style="flex: 1; padding: 5px; text-align: center;"> <!-- Reduced padding -->
        <div style="width: 40%; margin: auto;"> <!-- Reduced width -->
          <img src="./images/utk.webp" style="width: 100%; border-radius: 50%;"> <!-- Reduced border-radius -->
        </div>
      </div>
    </div>
  </div>
</footer>
